@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primario: #DA0100;
  --secundario: #FFC500;
  --fundo: #F4F6F8;
  --texto: #4A5A6A;
  --confianca: #205072;
  --conforto: #B4C99C;
  --preto: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070707;
    --foreground: #ededed;

    --primario: #FF3B3B;
    --fundo: #121212;
    --texto: #D1D5DB;
    --confianca: #4A90A2;
    --conforto: #6B8F71;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
