/* NavBar */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f3f4f6;
  padding: 11px 150px;

}

/* Logo */

.navigation .logo_container {
  display: flex;
  align-items: center;
  background: #e5e7eb;
  gap: 5px;
}

.navigation .text_container p {
  text-transform: uppercase;
  color: transparent;
  font-weight: 600;
}

/* Links */

.links_container {
  display: flex;
  align-items: center;
  background: #e5e7eb;
}

.links_container .list_links {
  display: flex;
  gap: 30px;
  font-weight: 600;
  color: transparent;
}

.links_container .list_links .list_item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.links_container .list_links .list_item_ativo {
  text-transform: uppercase;
  background: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  color: transparent;
}